/* VARIABLES */
:root{
    --main: rgb(0, 118, 213);
    --secondary: rgb(99, 188, 85);
    --secondary-dark: rgb(76, 142, 66);
    --tertiary: #0B2341;
    --light: #f0f0f0;
    --dark: rgb(0, 83, 151);

    --slide-in-x: 70%;
    --button-width: 500px;
    --button-width-large: 1030px;
    --nav-justify-content: start;
    --nav-font-size: 4vw;

    --content-body-margin: 12% 0 0 0;
    --table-width: 490px;
    --table-tranform: 0%;
    --form-button-margin: 20px 0 120px 0;
    --form-margin: 12% 0;

    --modal-width: 40%;
    --modal-transform: 30%;
}
@media only screen and (max-width: 768px){
    :root{
        --slide-in-x: 0%;
        --button-width: 150px;
        --button-width-large: 330px;
        --nav-justify-content: center;
        --nav-font-size: 14vw;

        --content-body-margin: 35% 0 0 0;
        --table-width: 300px;
        --table-tranform: 0%;
        --form-button-margin: 20px 0 220px 0;
        --form-margin: 35% 0;

        --modal-width: 80%;
        --modal-transform: 10%;
    }
}



/* GENERAL */
@font-face{
    font-family: 'Alumni Sans';
    src: url('../fonts/AlumniSans-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Black.ttf');
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, a{
    font-family: 'Alumni Sans';
}
.titleFont{
    font-family: 'Alumni Sans';
    font-size: 200%;
    margin: 0;
}
p, li, span{
    font-family: 'Poppins';
}
html, body{
    position: relative;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{
    z-index: 1;
    display: flex;
    flex-direction: column; 
    background-color: var(--light);
}
div{
    display: block;
}

a{
    text-decoration: none !important;
    color: white;
}
a:hover{
    color: purple;
}
a:visited{
    color: purple;
}
.hvr-shrink {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    filter: blur(0);
}
#content-body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85%;
    width: 100%;
    margin: auto;
    padding: auto;
}
table tr td{
    padding: 10px 0 !important; 
}
textarea{
    resize: none;  
}



/* NAVBAR */
nav{
    position: fixed;
    z-index: 6;

    height: 15%;
    width: 100%;

    display: flex;
    justify-content: space-between;  
    align-items: center;

    background-color: var(--main);
}
#nav-filter{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    filter: brightness(100%);
    backdrop-filter: brightness(100%);
}
#nav-logo{
    margin-left: 2%;
}
#nav-hamburger{
    margin-right: 2%;
    cursor: pointer;
}
#nav-links{
    position: fixed;
    z-index: 20;
    left: var(--slide-in-x);
    top: 15%;

    width: calc(100% - var(--slide-in-x));
    height: 85%;

    padding: 1% 0 1% 0;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: var(--nav-justify-content);

    background-color: var(--secondary);

    animation-name: slide-in;
    animation-duration: 0.5s;
}
.nav-link{
    font-size: 2em;
    color: white;
    border-bottom: 1px solid white;
    width: 100%;
    margin: 0;
    padding: 5% 0;
}
.nav-link:hover{
    background-color: var(--secondary-dark);
}
.nav-link-text{
    font-size: var(--nav-font-size);
    color: white;
    text-align: var(--nav-justify-content);
    margin: 0 0 0 5%;
}
.bar1, .bar2, .bar3{
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1{
    transform: translate(0, 10px) rotate(-45deg);
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    transform: translate(0, -10px) rotate(45deg);
}
@keyframes slide-in{
    from{
        left: 100%;
    }
    to{
        left: var(--slide-in-x);
    }
}
@keyframes slide-out{
    from{
        left: var(--slide-in-x);
    }
    to{
        left: 100%;
    }
}



/* MAIN */
.boutonMenu{
    display: block;
    background-color: var(--dark);
    color: white;
    margin: 15px;
    padding: 10px;
    width: var(--button-width);
    height: 100px;
    text-align: center;
}
.boutonMenuLarge{
    display: block;
    background-color: var(--dark);
    color: white;
    margin: 15px;
    padding: 10px;
    width: var(--button-width-large);
    height: 100px;
    text-align: center;
}
.boutonMenu:hover{
    filter: brightness(90%);
    color: white;
}
.boutonMenu:visited{
    color: white;
}
.boutonMenuLarge:hover{
    filter: brightness(90%);
    color: white;
}
.boutonMenuLarge:visited{
    color: white;
}
.boutonMenu-content{
    margin: auto;
    width: 120px;
    height: 100%;
}
.w-100{
    width: 100%;
}
#accueil{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -20%;
    width: 100%;
    height: 50%;
    margin: auto;
    padding: 0;
}
#fond{
    background-color: var(--light);
    height: 100%;
}
.display-flex{
    display: flex;
    margin: auto;
}


/* FOOTER */
footer{
    position: absolute;
    bottom: 0;

    height: 15vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary);
    color: white;
    margin: 0;
}



/* Formulaires */
.form-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: var(--form-margin);
    padding: auto;
}
table{
    width: var(--table-width);
    margin: 0;
    padding: 0;
    position: relative;
    left: var(--table-tranform);
}
table tr{
    display: flex;
    flex-direction: column;
}
.flexed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.form-button{
    width: 100%;
}
.form-control{
    width: 100%;
    margin: 0;
    padding: 0;
}
.form-text-input{
    width: var(--table-width);
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-input{
    width: 100%;
    margin: auto;
    padding: 5px;
}
.form-check-input{
    margin: 0;
    padding: 0;
    width: 20px;
    border: 1px solid black !important;
}
.table-radio-4{
    width: 25%;
}
.table-radio-3{
    width: 33.33%;
}
.form-auto{
    width: var(--table-width);
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-check-container{
    border: 1px solid gray;
    border-radius: 1%;
    padding: 1%;
}


/* Notifications */
.notif-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--table-width);
    margin: var(--form-margin);
    padding: auto;
    text-align: center;
}
.notif-show{
    border: 1px solid gray;
}
.notif-show div{
    padding: 2%;
    width: 100%;
}
.notif-show div:nth-child(odd){
    background-color: var(--light);
}
.notif-table tr td{
    text-align: center;
}
.notif-table tr:nth-child(odd){
    background-color: var(--light);
}
.notif-table tr td a{
    color: black;
}
.notif-table tr td a:hover{
    color: black;
}
.notif-table tr td a:visited{
    color: black;
}


/* Arnaud */
/* Modal */
.modal-form{
    position: fixed;
    z-index: 30;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--modal-width);
    height: 50%;
    top: 25%;
    left: var(--modal-transform);
    background-color: var(--light);
    animation-name: slide-down;
    animation-duration: 0.5s;
}
.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80% !important;
    outline: 2px solid var(--tertiary) !important;
}
.modal-content a{
    color: var(--main);
    width: 50%;
    margin-bottom: 10px;
    text-align: center;
}
.modal-content button{
    position: relative;
    top: 10%;
}
@keyframes slide-down{
    from{
        top: 100%;
    }
    to{
        top: 25%;
    }
}
@keyframes slide-up{
    from{
        top: 25%;
    }
    to{
        top: 100%;
    }
}



/*antoine*/
/* Modal 
.modalYesNo{
    display: none; /* Hidden by default 
    position: fixed; /* Stay in place 
    z-index: 1; /* Sit on top 
    left: 0;
    top: 0;
    width: 100%; /* Full width 
    height: 100%; /* Full height 
    overflow: auto; /* Enable scroll if needed 
    background-color: rgb(0,0,0); /* Fallback color 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity 
}
/*antoine
.modalYesNo-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size 

  }
/*antoine
  .buttonYesNo{
    border-radius: 12px;
    margin: 20px;
    font-size: 20px;
    padding: 10px 24px;
  }
*/
  .temoinCacher{
    display: none;
  }

.BTEnvoyer{
    border-radius: 10px;
    background-color: #68B545;
    color: #ffffff;
    padding: 8px 16px;
}
.noir
{
    background-color: black;
}


/*THOMAS */
span {
    margin-right:3%;
}

/*Thoma */ 
#spanGauche {
    margin-left: 18%;
}.ecritureNoir{
    color: black;
}

/* Antoine */
.erreurForm{
    color: red;
    font-size: 12px;
}

/* Antoine */
.bonForm{
    color: green;
    font-size: 12px;
}